<%= div_for snip, class: "panel panel-default" do %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to snip.name, snip %>
    <%= link_to "Delete", snip, class: "pull-right", method: :delete %>
    </h3>
  </div>
  <div class="panel-body">
    <%= snip.description.blank? ? "..." : snip.description %>
  </div>
<% end %>
