<%= div_for comment, class: "panel panel-default" do %>
  <div class="panel-body"><%= simple_format(comment.comment) %></div>
  <% if current_user %>
    <div class="panel-footer"><%= comment.user.email %></div>
  <% end %>
<% end %>
